# coding: utf-8

import sys
from setuptools import setup, find_packages, find_namespace_packages

NAME = "{{packageName}}"
VERSION = "{{packageVersion}}"
{{#apiInfo}}{{#apis}}{{^hasMore}}
# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools

REQUIRES = [
    "connexion==2.0.0",
    "swagger-ui-bundle==0.0.2",
    "python_dateutil==2.6.0"{{#supportPython2}},
    "typing==3.5.2.2"{{/supportPython2}}
]

PACKAGES = set(find_packages())
PACKAGES.update(set(find_namespace_packages(
    include=['{{{packageName}}}*'],
    exclude=['{{{packageName}}}.openapi'])))

setup(
    name=NAME,
    version=VERSION,
    description="{{appName}}",
    author_email="{{infoEmail}}",
    url="{{packageUrl}}",
    keywords=["OpenAPI", "{{appName}}"],
    install_requires=REQUIRES,
    packages=PACKAGES,
    package_data={'': ['openapi/openapi.yaml']},
    include_package_data=True,
    entry_points={
        'console_scripts': ['{{packageName}}={{packageName}}.__main__:main']},
    long_description="""\
    {{appDescription}}
    """,
    long_description_content_type='text/markdown'
)
{{/hasMore}}{{/apis}}{{/apiInfo}}
